<% layout('indexLayout.html') -%>

	<section id="fh5co-home" data-section="home" style="background-image: url(libs/solid/images/full_image_4.jpg);" data-stellar-background-ratio="0.5">
		<div class="gradient"></div>
		<div class="container">
			<div class="text-wrap">
				<div class="text-inner">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 text-center">
							<!-- <h1 class="animate-box"><span class="big">Creativity</span> <br><span>requires the</span> <br><span class="medium">Courage</span><br><span>to let go of</span> <br> <span class="medium">Certainties.</span></h1> -->
							<h1 class="animate-box">在线错题课程</h1> 
                            <p class="animate-box">导师:  <a href="/tutor/lee" target="_blank" title="Free HTML5 Bootstrap Templates" class="fh5co-link">英语专业八级/英语学习传奇人物/李氏语法创始人 - 孔明</a></p>
                            <p>论坛错题提交->导师解疑->每周一次线上小班交流！ </p>
							<div class="call-to-action">
								<a href="/bbs?tab=apply" class="demo animate-box"><i class="icon-laptop"></i> 参加课程:申请</a>
								<a href="/bbs" class="download animate-box"><i class="icon-comment"></i> 学习论坛</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	 <section id="fh5co-services" data-section="services">
		<div class="fh5co-services">
			<div class="container">
				<div class="row">
					<div class="col-md-4 text-center">
						<div class="box-services">
							<div class="icon animate-box">
								<span><i class="icon-chemistry"></i></span>
							</div>

							<div class="fh5co-post animate-box">
									<h3>多年教龄导师团队</h3>
									<p>英语导师资历：专业英语八级，中高考语法教学经验8年以上；这里的每个老师都对英语有着极致的热爱！</p>
						    </div>				

						</div>

						<div class="box-services">
								<div class="icon animate-box">
									<span><i class="icon-people"></i></span>
								</div>
								<div class="fh5co-post animate-box">
                                        <h3>没有时间？</h3>	
                                        <p>线上错题班，特意为希望充分利用宝贵时间的你而设计！时间灵活；论坛提交错题；每周一次线上讨论，并在导师引导下，互相交流错题。给您或者孩子满满地充实感和影响力</p>
										<p>告别历史错题，和错题说拜拜！</p>	
													
										<!-- <p>线上服务为主，线下为辅。线上交流，加线下沙拉结合(线下已开通杭州，绍兴区域)。其它城市线下组织志愿者正在开通申请...</p> -->
								</div>
							</div>

					</div>
					<div class="col-md-4 text-center">
						<div class="box-services">
							<div class="icon animate-box">
								<span><i class="icon-trophy"></i></span>
							</div>
							<div class="fh5co-post animate-box">
									<h3>重点精选精讲 </h3>
									<p>每周的错题课堂，导师会精选提交上来的常考错题，并分析指导，不落下任何中高考常考错题题型。</p>
						    </div>
						</div>

						<div class="box-services">
							<div class="icon animate-box">
								<span><i class="icon-paper-plane"></i></span>
							</div>

							<div class="fh5co-post animate-box">
									<h3>由点到面</h3>
									<p> 135楼 错题讲师的错题讲解不会停留于表面，会更关注原理性知识点，由一个点导出一个面，并每月会出一份学生常错错题试卷，供VIP学员温故知新！</p>
						    </div>

							<!-- <div class="fh5co-post animate-box">
									<h3>说 | 线下聚会</h3>
									<p>拒绝哑巴英语，把英语说出来！并不时请native speaker做客聚会</p>
						    </div>	 -->
						</div>
					</div>
					<div class="col-md-4 text-center">


					    <div class="box-services">
							<div class="icon animate-box">
								<span><i class="icon-energy"></i></i></span>
							</div>
							<div class="fh5co-post animate-box">
									<h3>在线提交答疑</h3>
									<p>学员可以在135楼论坛提交自己平时学习过程中的疑问，我们回答的老师都为英语八级老师，并一直在一线教学育人，师资靠谱，对比网上准确率极低的各类错误回答，更值得你们的信赖！</p>
								</div>							
						</div>


						<div class="box-services">
							<div class="icon animate-box">
								<span><i class="icon-screen-desktop"></i></span>
							</div>
							<div class="fh5co-post animate-box">
								<h3>不定时线下课程和活动</h3>
								<p> 135楼主办的英语聚会和线下课程，会不时举办！16年开始已在杭州举办约20多场（Oral's Salad 英语口语沙拉）。现已开通城市： 杭州，绍兴</p>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	 </section> 

	<!-- <section id="fh5co-explore" data-section="explore">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="animate-box">Finished Work</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext animate-box">
							<h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="fh5co-project">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="fh5co-portfolio animate-box">
							<a href="#">
								<div class="portfolio-entry" style="background-image: url(libs/solid/images/portfolio-1.jpg);">
									<div class="desc">
										<p>Solid Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									</div>
								</div>
								<div class="portfolio-text text-center">
									<h3>Solid</h3>
									<ul class="stuff">
										<li><i class="icon-heart2"></i>200</li>
										<li><i class="icon-eye2"></i>248</li>
										<li><i class="icon-download"></i>240</li>
									</ul>
								</div> 
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-portfolio animate-box">
							<a href="#">
								<div class="portfolio-entry" style="background-image: url(libs/solid/images/portfolio-2.jpg);">
									<div class="desc">
										<p>Solid Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									</div>
								</div>
								<div class="portfolio-text text-center">
									<h3>Air</h3>
									<ul class="stuff">
										<li><i class="icon-heart2"></i>200</li>
										<li><i class="icon-eye2"></i>248</li>
										<li><i class="icon-download"></i>240</li>
									</ul>
								</div> 
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-portfolio animate-box">
							<a href="#">
								<div class="portfolio-entry" style="background-image: url(libs/solid/images/portfolio-3.jpg);">
									<div class="desc">
										<p>Solid Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									</div>
								</div>
								<div class="portfolio-text text-center">
									<h3>Black</h3>
									<ul class="stuff">
										<li><i class="icon-heart2"></i>200</li>
										<li><i class="icon-eye2"></i>248</li>
										<li><i class="icon-download"></i>240</li>
									</ul>
								</div> 
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-portfolio animate-box">
							<a href="#">
								<div class="portfolio-entry" style="background-image: url(libs/solid/images/portfolio-4.jpg);">
									<div class="desc">
										<p>Solid Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									</div>
								</div>
								<div class="portfolio-text text-center">
									<h3>Soon</h3>
									<ul class="stuff">
										<li><i class="icon-heart2"></i>200</li>
										<li><i class="icon-eye2"></i>248</li>
										<li><i class="icon-download"></i>240</li>
									</ul>
								</div> 
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-portfolio animate-box">
							<a href="#">
								<div class="portfolio-entry" style="background-image: url(libs/solid/images/portfolio-5.jpg);">
									<div class="desc">
										<p>Solid Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									</div>
								</div>
								<div class="portfolio-text text-center">
									<h3>Homestate</h3>
									<ul class="stuff">
										<li><i class="icon-heart2"></i>200</li>
										<li><i class="icon-eye2"></i>248</li>
										<li><i class="icon-download"></i>240</li>
									</ul>
								</div> 
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-portfolio animate-box">
							<a href="#">
								<div class="portfolio-entry" style="background-image: url(libs/solid/images/portfolio-6.jpg);">
									<div class="desc">
										<p>Solid Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									</div>
								</div>
								<div class="portfolio-text text-center">
									<h3>Words</h3>
									<ul class="stuff">
										<li><i class="icon-heart2"></i>200</li>
										<li><i class="icon-eye2"></i>248</li>
										<li><i class="icon-download"></i>240</li>
									</ul>
								</div> 
							</a>
						</div>
					</div>

					<div class="col-md-4">
						<div class="fh5co-portfolio animate-box">
							<a href="#">
								<div class="portfolio-entry" style="background-image: url(libs/solid/images/portfolio-7.jpg);">
									<div class="desc">
										<p>Solid Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									</div>
								</div>
								<div class="portfolio-text text-center">
									<h3>Soon</h3>
									<ul class="stuff">
										<li><i class="icon-heart2"></i>200</li>
										<li><i class="icon-eye2"></i>248</li>
										<li><i class="icon-download"></i>240</li>
									</ul>
								</div> 
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-portfolio animate-box">
							<a href="#">
								<div class="portfolio-entry" style="background-image: url(libs/solid/images/portfolio-8.jpg);">
									<div class="desc">
										<p>Solid Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									</div>
								</div>
								<div class="portfolio-text text-center">
									<h3>Homestate</h3>
									<ul class="stuff">
										<li><i class="icon-heart2"></i>200</li>
										<li><i class="icon-eye2"></i>248</li>
										<li><i class="icon-download"></i>240</li>
									</ul>
								</div> 
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<div class="fh5co-portfolio animate-box">
							<a href="#">
								<div class="portfolio-entry" style="background-image: url(libs/solid/images/portfolio-9.jpg);">
									<div class="desc">
										<p>Solid Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
									</div>
								</div>
								<div class="portfolio-text text-center">
									<h3>Words</h3>
									<ul class="stuff">
										<li><i class="icon-heart2"></i>200</li>
										<li><i class="icon-eye2"></i>248</li>
										<li><i class="icon-download"></i>240</li>
									</ul>
								</div> 
							</a>
						</div>
					</div>
				</div>
			</div>	
		</div>
		<div id="fh5co-counter-section" class="fh5co-counters">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 animate-box">
						<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					</div>
				</div>
				<div class="row animate-box">
					<div class="col-md-3 text-center">
						<span class="fh5co-counter js-counter" data-from="0" data-to="3452" data-speed="5000" data-refresh-interval="50"></span>
						<span class="fh5co-counter-label">Cups of Coffee</span>
					</div>
					<div class="col-md-3 text-center">
						<span class="fh5co-counter js-counter" data-from="0" data-to="234" data-speed="5000" data-refresh-interval="50"></span>
						<span class="fh5co-counter-label">Client</span>
					</div>
					<div class="col-md-3 text-center">
						<span class="fh5co-counter js-counter" data-from="0" data-to="6542" data-speed="5000" data-refresh-interval="50"></span>
						<span class="fh5co-counter-label">Projects</span>
					</div>
					<div class="col-md-3 text-center">
						<span class="fh5co-counter js-counter" data-from="0" data-to="8687" data-speed="5000" data-refresh-interval="50"></span>
						<span class="fh5co-counter-label">Finished Projects</span>
					</div>
				</div>
			</div>
		</div>
		
	</section> -->
	<!-- <section id="fh5co-testimony" data-section="testimony">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="animate-box"><span>我们的客户说：</span></h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext animate-box">
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="testimony-entry animate-box">
						<div class="feed-bubble">
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						</div>
						<div class="author-img" style="background-image: url(libs/solid/images/user-1.jpg);"></div>
						<span class="user">Randy White <br> <small>Bloger, Analyst</small></span>
					</div>

					<div class="testimony-entry animate-box">
						<div class="feed-bubble">
							<p>Vokalia and Consonantia, there live the blind texts Far far away, behind the word mountains</p>
						</div>
						<div class="author-img" style="background-image: url(libs/solid/images/user-2.jpg);"></div>
						<span class="user">Randy White <br> <small>Bloger, Analyst</small></span>
					</div>

					<div class="testimony-entry animate-box">
						<div class="feed-bubble">
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						</div>
						<div class="author-img" style="background-image: url(libs/solid/images/user-4.jpg);"></div>
						<span class="user">Randy White <br> <small>Bloger, Analyst</small></span>
					</div>
				</div>

				<div class="col-md-4">
					<div class="testimony-entry animate-box">
						<div class="feed-bubble">
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Vokalia and Consonantia, there live the blind texts.</p>
						</div>
						<div class="author-img" style="background-image: url(libs/solid/images/user-3.jpg);"></div>
						<span class="user">Randy White <br> <small>Bloger, Analyst</small></span>
					</div>

					<div class="testimony-entry animate-box">
						<div class="feed-bubble">
							<p>Far far away, behind the word mountains. Vokalia and Consonantia</p>
						</div>
						<div class="author-img" style="background-image: url(libs/solid/images/user-5.jpg);"></div>
						<span class="user">Randy White <br> <small>Bloger, Analyst</small></span>
					</div>

					<div class="testimony-entry animate-box">
						<div class="feed-bubble">
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						</div>
						<div class="author-img" style="background-image: url(libs/solid/images/user-1.jpg);"></div>
						<span class="user">Randy White <br> <small>Bloger, Analyst</small></span>
					</div>
				</div>

				<div class="col-md-4">
					<div class="testimony-entry animate-box">
						<div class="feed-bubble">
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						</div>
						<div class="author-img" style="background-image: url(libs/solid/images/user-6.jpg);"></div>
						<span class="user">Randy White <br> <small>Bloger, Analyst</small></span>
					</div>

					<div class="testimony-entry animate-box">
						<div class="feed-bubble">
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						</div>
						<div class="author-img" style="background-image: url(libs/solid/images/user-3.jpg);"></div>
						<span class="user">Randy White <br> <small>Bloger, Analyst</small></span>
					</div>

					<div class="testimony-entry animate-box">
						<div class="feed-bubble">
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
						</div>
						<div class="author-img" style="background-image: url(libs/solid/images/user-4.jpg);"></div>
						<span class="user">Randy White <br> <small>Bloger, Analyst</small></span>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	
	<!-- <section id="fh5co-pricing" data-section="pricing">
		<section class="pricing-section bg-3">
      	<div class="container">
      		<div class="row">
					<div class="col-md-12 section-heading text-center">
						<h2 class="animate-box">Pricing</h2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 subtext animate-box">
								<h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
							</div>
						</div>
					</div>
				</div>
      		<div class="row">
      			<div class="col-md-4 text-center animate-box">
      				<div class="pricing__item">
	                    <h3 class="pricing__title">Startup</h3>
	                    <div class="pricing__price"><span class="pricing_currency">$</span>9.90</div>
	                    <p class="pricing__sentence">Small business solution</p>
	                    <ul class="pricing__feature-list">
	                        <li class="pricing__feature">Unlimited calls</li>
	                        <li class="pricing__feature">Free hosting</li>
	                        <li class="pricing__feature">40MB of storage space</li>
	                    </ul>
	                    <p><a href="#" class="btn btn-primary btn-lg pricing__action">Read More</a></p>
	                </div>	
      			</div>
      			<div class="col-md-4 text-center animate-box">
      				<div class="pricing__item">
	                    <h3 class="pricing__title">Medium</h3>
	                    <div class="pricing__price"><span class="pricing_currency">$</span>29,90</div>
	                    <p class="pricing__sentence">Medium business solution</p>
	                    <ul class="pricing__feature-list">
	                        <li class="pricing__feature">Unlimited calls</li>
	                        <li class="pricing__feature">Free hosting</li>
	                        <li class="pricing__feature">10 hours of support</li>
	                        <li class="pricing__feature">Social media integration</li>
	                        <li class="pricing__feature">1GB of storage space</li>
	                    </ul>
	                    <p><a href="#" class="btn btn-primary btn-lg pricing__action">Read More</a></p>
	                </div>
      			</div>
      			<div class="col-md-4 text-center animate-box">
      				<div class="pricing__item">
	                    <h3 class="pricing__title">Large</h3>
	                    <div class="pricing__price"><span class="pricing_currency">$</span>59,90</div>
	                    <p class="pricing__sentence">Gigantic business solution</p>
	                    <ul class="pricing__feature-list">
	                        <li class="pricing__feature">Unlimited calls</li>
	                        <li class="pricing__feature">Free hosting</li>
	                        <li class="pricing__feature">Unlimited hours of support</li>
	                        <li class="pricing__feature">Social media integration</li>
	                        <li class="pricing__feature">Anaylitcs integration</li>
	                        <li class="pricing__feature">Unlimited storage space</li>
	                    </ul>
	                    <p><a href="#" class="btn btn-primary btn-lg pricing__action">Read More</a></p>
	                </div>
      			</div>
      		</div>
      	</div>
     </section>
	</section>	 -->

	<!-- <section id="fh5co-blog" data-section="blog">
		<div class="fh5co-blog">
			<div class="container">
				<div class="row">
					<div class="col-md-12 section-heading text-center">
						<h2 class="animate-box"><span>Read Our Blog</span></h2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2 subtext">
								<h3 class="animate-box">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove. </h3>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 animate-box blog">
						<a href="#" class="entry">
							<div class="blog-bg" style="background-image: url(libs/solid/images/blog-1.jpg);">
								<div class="date">
									<span>03</span>
									<small>Mar</small>
								</div>
								<div class="desc">
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								</div>
							</div>
							<div class="desc-grid">
								<h3>Download Free HTML5 Template</h3>
							</div>
						</a>
					</div>
					<div class="col-md-4 animate-box blog">
						<a href="#" class="entry">
							<div class="blog-bg" style="background-image: url(libs/solid/images/blog-2.jpg);">
								<div class="date">
									<span>01</span>
									<small>Mar</small>
								</div>
								<div class="desc">
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								</div>
							</div>
							<div class="desc-grid">
								<h3>Download Free HTML5 Template</h3>
							</div>
						</a>
					</div>
					<div class="col-md-4 animate-box blog">
						<a href="#" class="entry">
							<div class="blog-bg" style="background-image: url(libs/solid/images/blog-3.jpg);">
								<div class="date">
									<span>28</span>
									<small>Feb</small>
								</div>
								<div class="desc">
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								</div>
							</div>
							<div class="desc-grid">
								<h3>Download Free HTML5 Template</h3>
							</div>
						</a>
					</div>

					<div class="col-md-4 animate-box blog">
						<a href="#" class="entry">
							<div class="blog-bg" style="background-image: url(libs/solid/images/blog-3.jpg);">
								<div class="date">
									<span>28</span>
									<small>Feb</small>
								</div>
								<div class="desc">
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								</div>
							</div>
							<div class="desc-grid">
								<h3>Download Free HTML5 Template</h3>
							</div>
						</a>
					</div>
					<div class="col-md-4 animate-box blog">
						<a href="#" class="entry">
							<div class="blog-bg" style="background-image: url(libs/solid/images/blog-1.jpg);">
								<div class="date">
									<span>27</span>
									<small>Feb</small>
								</div>
								<div class="desc">
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								</div>
							</div>
							<div class="desc-grid">
								<h3>Download Free HTML5 Template</h3>
							</div>
						</a>
					</div>
					<div class="col-md-4 animate-box blog">
						<a href="#" class="entry">
							<div class="blog-bg" style="background-image: url(libs/solid/images/blog-2.jpg);">
								<div class="date">
									<span>25</span>
									<small>Feb</small>
								</div>
								<div class="desc">
									<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
								</div>
							</div>
							<div class="desc-grid">
								<h3>Download Free HTML5 Template</h3>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section> -->




