<%- partial('../sidebar') %>

<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
        <li><a href='/'>主页</a><span class='divider'>/</span></li>
        <li class='active'>关于</li>
      </ul>
    </div>
    <div class='inner topic'>
      <div class="topic_content">
        <%- markdown(multiline(function () {
/*
### 关于
135楼 英语学习平台，提供超省心的完整英语学习体系和路线图。并结合线下实体教学体验点进行教学和指导，是一个真正意义上的英语课程体系学习平台。

135楼 社区由一批英语一线教师（英语专业八级团队）发起，目前已经吸引了英语在职教师和培训机构专八英语老师等高端人才加入，我们非常欢迎更多对 英语学习和教学 感兴趣的朋友加入我们。

*/
        })) %>
      </div>
    </div>
  </div>
</div>
